html,body,div,form,fieldset,legend,label,h1,h2,h3,h4,h5,h6,p,ul,dl,dt,dd,figure,figcaption{
        margin: 0;
        padding: 0;
        }

#logo img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	z-index: 2;
}

#space{
	height: 80px;
	background-color: #1c451c;
}

#buttons{
	float: right;
}

body{
	background: url(../images/bg.png) repeat;
}

#placement{
	height: 409px;
	width: 600px;
	background-color: #b1b1b1; /*#b1b1b1*/
	margin: 38px 50px 60px 0;
	float: right;
}
/*---------------------  Control Bar --------------------------*/
#controlbar{
	background-color: rgba(0,0,0,0.7);
	height: 50px;
}

.controls{
	margin-top: -15px;
}

#play{
	margin-top: -12px;
}

#cam{
	margin-top: 5px;
}

#bar{
	margin-top: -13px;
	margin-left: -20px;
}

#ball{
	position: absolute;
	right: 436px;
	top: 458px;
}

#volume{
	margin-top: -5px;
	margin-left: -110px;
}
#vol:hover #vol{
	display: inline-block;
}

#rec{
	margin-top: -5px;
}

ul{
	list-style: none;
}

ul li{
	float: left;
}

.micro_sub li {
	/*display: none;*/
	background-color: #b1b1b1;
}

.micro_menu{
	display: inline-block;
	
}

.micro_menu2{
	/*margin-left: 20px;*/
	display: inline-block;
	float: right;
}

.micro_menu ul li{
	display:block;
	background-color: #b1b1b1;
	width: 120px;
	position: absolute;
	margin-top: -40px;
	text-align: center;
}

#vol{
	-webkit-transform:rotate(270deg);       
    -moz-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    transform:rotate(270deg);
    z-index: 0;
    position: absolute;
    right: 56px;
    top: 381px;
}

#microphone{

}
/*----------------------------------------------------------------*/

#main_border{
	background-color: #272424;
	height: 530px;
	width: 1180px;
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#comments{
	height: 460px;
	width: 470px;
	background-color: rgba(0,0,0,0.4);
	margin-top: -5px;
	margin-left: 30px;
	color: #fffcfc;
	font-family: Arial;
	font-size: 14px;
}

#user_comment{
	padding-left: 15px;
	font-family: Arial;
}


#user{
	font-family: 'Varsity', 'Arial Black', Arial;
	color: #1c451c;
	margin-left: 70px;
	margin-top: -45px;
}

#username{
	margin-bottom: 20px;
	margin-top: 60px;
}

@font-face{
	font-family: 'Varsity';
	src: url(../fonts/PepRally.ttf);
}

#title{
	font-family: 'Varsity', 'Arial Black', Arial;
	text-align: center;
	line-height: 60px;
}

textarea{
	border: none;
	background: #272424;
    border-radius: 4px;
    padding: 8px;
    margin-left: 31px;
    margin-top: 20px;
    margin-bottom: 15px;
    max-width: 405px;
    max-height: 120px;
}

#submit{
	float: right;
	margin-right: 30px;
	width:160px;
	background: #1c451c;
	color:#fff;
	font-family: 'Arial Black', sans-serif;
	font-size: 17pt;
	height: 45px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: none;
}

#submit:hover{
	background-color: #fff;
	color:#1c451c;
	border-color: #1c451c;
}





